body {
  background-color: #f5f5f5;
  color: #555;
  font-size: 14px; }
  body #root .container-fluid {
    min-height: 250px;
    padding: 20px;
    margin-top: 20px; }
    body #root .container-fluid ul {
      margin: 0;
      padding: 0; }
      body #root .container-fluid ul li {
        list-style: none; }
    body #root .container-fluid ul.show-list li {
      border-bottom: #ddd;
      padding: 5px 10px; }
      body #root .container-fluid ul.show-list li a {
        color: #555; }
    body #root .container-fluid .show-details-part2 {
      border-left: 2px solid #ddd; }
      body #root .container-fluid .show-details-part2 .detail-item {
        padding: 10px;
        border-bottom: 1px solid #ddd; }
        body #root .container-fluid .show-details-part2 .detail-item .item-header {
          font-size: 12px;
          line-height: 12px;
          color: #888; }
        body #root .container-fluid .show-details-part2 .detail-item .item-data {
          font-size: 14px; }
          body #root .container-fluid .show-details-part2 .detail-item .item-data ul {
            height: 25px; }
            body #root .container-fluid .show-details-part2 .detail-item .item-data ul li {
              float: left;
              margin-right: 10px; }
